[Desktop Entry]
Encoding=UTF-8
Name=Cloakcoin
Comment=Cloakcoin P2P Cryptocurrency
Comment[fr]=Cloakcoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Cloakcoin, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/cloakcoin-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/cloakcoin128.png
MimeType=x-scheme-handler/cloakcoin;
Categories=Office;
